* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root { 
 --padding: 150px
}

@font-face {
    font-family: "Anonymous Pro";
    src: url(AnonymousPro-Bold.ttf);
    font-weight: 700;
}

@font-face {
  font-family: "Anonymous Pro";
  src: url(AnonymousPro-Regular.ttf);
}

h1 {
    font-family: "Anonymous Pro", sans-serif;
    font-size: 56px;
}

h2 {
  font-family: "Anonymous Pro", sans-serif;
	font-size: 48px;
}



h3 {
  display: flex;
  font-family: "Anonymous Pro", sans-serif;
	font-size: 26px;
  padding-top: 32px;
  padding-left: 24px;
  padding-right: 24px;
  word-wrap: break-word;
}

p {
  color: #121723;
  font-size: 20px;
  font-family: Anonymous Pro;
  font-weight: 400;
  word-wrap: break-word;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 32px;
}



header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding-left: 150px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 150px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0), 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

header a{
  text-decoration: none;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  color:black;
  font-weight: bold;
  padding-right: 24px;
}

header img{
  width: 25px;
}

.container .subtitle { 
  display: flex;
  flex-wrap: wrap;
}

.cw { 
  max-width: 1161px;
  margin: 25px auto;
}

.subtitle {
  margin-bottom: 24px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

}

.product { 
  display: flex;
  flex-direction: column;
  width: 371px;
  border-radius: 12px;
  background: white;
  overflow: hidden;
}



body{
  width: 100%;
  background-color: rgb(226, 226, 226)
}

footer{
  background-color: #121723;
  display: flex;
  height: 142px;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  padding: 0 var(--padding);
}

footer a{
  text-decoration: none;
  font-family: "Anonymous Pro", sans-serif;
  font-size: 20px;
  color:white;
  font-weight: bold;
  padding-right: 24px;
}
footer img{
  width: 25px;
  padding-top: 2rem;
}

footer h3{
  color: #A1A6B4;
  font-size: 16px;
  font-family: "Anonymous Pro";
  font-weight: 700;
  padding: 0px;
  line-height: normal;
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}

footer .links{
  display: inline-block;
}
hr{
  position: relative;
}

.footer__cross{
  display: flex;
  justify-content: space-between;
  width: 100%;
}


.product { 
    transition: top ease-in-out 0.3s;
    position: relative; } 
    
.product:hover { 
  border-radius: 12px;
  box-shadow: 0px 7px 7px 0px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.5s ease;
  transform: scale(1.03);
  transition: transform 0.5s ease;
    }

a {
      text-decoration: none;
      color: #121723;
    }



@media screen and (max-width: 375px) {
* {
    padding: 0px;
    margin: 0px;
}
 .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 16px;
  align-self: stretch;
}
.header {
display: flex;
flex-direction: column;
align-items: center;
gap: 12px;
max-width: 767px;
height: auto;
font-size: 32px;
}
.grid {
display: flex;
flex-direction: column;
align-items: flex-start;

}

.container1 {
  max-width: 100%;
}
.logo_header {
width: 215px;
height: 64px;
}

.footer {
  display: flex;
  font-size: 16px;
  height: auto;
  width: auto;
  padding: 0px;
}

.header .links {
  width: 343px;
  font-size: 20px;

}

.footer__cross {
display: flex;
flex-direction: column;
align-items: center;
width: auto;
height: auto;
font-size: 32px;
padding-bottom: 24px;
}

.product {
  width: 343px;
}

.subtitle {
  font-size: 32px;
}

}